* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(220, 20, 60);
    --secondary-color: #f8f8ff;
    --tertiary-color: rgb(83, 64, 64);
    --color-4: #708090;
}

header {
    height: auto;
    background-color: var(--primary-color);
    background-image: linear-gradient(to top left, var(--primary-color), var(--tertiary-color));
    padding: 20px 35px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

header nav ul li a:hover {
    color: var(--color-4);
    border-radius: 15px;
}

footer {
    background-color: var(--primary-color);
    background-image: linear-gradient(to bottom left, var(--primary-color), var(--tertiary-color));
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

h2 {
    margin: auto auto;
    font-size: 60px;
    /* text-align: center; */
    width: 100%;
}

.champion {
    background-image: url(./images/IMG_1298.png);
    height: 500px;
    background-position-x: center;
    background-position-y: -800px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.champion h2 {
    width: 35%;
    text-align: center;
    /* margin: 12.5%; */
    color: var(--secondary-color);
    font-style: italic;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(220, 20, 60, 1);
    position: relative;
}

.about-me {
    color: var(--color-4);
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px;
}

.about-me h2 {
    margin-top: 60px;
}

.about-me img {
    max-width: 160px;
    max-height: 240px;
}

.about-me-bio {
    width: 60%;
}

.about-me h3 {
    text-align: center;
    font-size: 24px;
}

.about-me p {
    line-height: 1.6;
    font-size: 16px;
    border-top: 3px solid var(--color-4);
}

.my-work {
    color: var(--color-4);
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
    padding-inline-end: 15px;
}

.my-work img {
    max-width: 90%;
    height: auto;
    padding: 15px;
}

.my-work h2 {
    padding: 15px;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: var(--secondary-color);
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block-size {
    font-size: 20px;
}

.text-block h5:hover {
    color: var(--primary-color);
}

.my-work a {
    color: var(--color-4);
    text-decoration: none;
}

.my-work a:hover {
    color: var(--primary-color);
}

.my-work h4 {
    font-size: 24px;
    color: var(--color4);
}

.primary-border {
    border-bottom: 3px solid var(--tertiary-color);
    margin: 10px;
}

.contact-me {
    color: var(--color-4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
}

.contact-me img {
    height: 90px;
    width: auto;
    position: relative;
}

.contact-me a {
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    line-height: 1.5px;
    font-size: 1.5vw;
}

.contact-me a:hover {
    color: var(--tertiary-color);
    }

@media screen and (max-width: 575px) {
    header {
        width: 100%;
    }

    header h1 {
        text-align: center;
    }

    h2 {
        font-size: 40;
    }
    .champion h2 {
        width: fit-content;
        font-size: 30px;
    }

    .champion {
        background-position: center;
    }

    .section-title {
        width: 95%;
    }

    .about-me {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .my-work img {
        width: 500px;
        height: auto;
    }

    .my-work h4 {
        font-size: 16px;
    }

    .contact-me {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .contact-me img {
        width: 90px;
        height: auto;            
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    .champion {
        background-position: center ;
    }

    .about-me {
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .my-work {
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .my-work h4 {
        font-size: 24px;
    }

    .contact-me p {
        font-size: 16px;
    }
}

@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 20px;
    }

    .champion {
        background-position: center;
    }
}